<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>FEM Draw</string>
	<key>CFBundleExecutable</key>
	<string>FEM Draw</string>
	<key>CFBundleIconFile</key>
	<string>fem_draw.icns</string>
	<key>CFBundleIdentifier</key>
	<string>ru.codefreak.fami.fem_draw</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>FEM Draw</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleVersion</key>
	<string>1.8</string>
	<key>CFBundleShortVersionString</key>
	<string>1.8</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.utilites</string>
	<key>LSArchitecturePriority</key>
	<array>
		<string>x86_64</string>
	</array>
	<key>LSMinimumSystemVersion</key>
	<string>10.6.0</string>
	<key>NSHumanReadableCopyright</key>
	<string>(c) Peter Zhigalov, 2014-2016</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>dat</string>
				<string>plt</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Tecplot Data File</string>
		</dict>
	</array>
</dict>
</plist>
