#include "resources.h"

IDI_ICON1   ICON   DISCARDABLE "../resources/icon.ico"
IDB_LOGO64  BITMAP DISCARDABLE "../resources/icon_64.bmp"
IDC_HAND_FB CURSOR DISCARDABLE "../resources/hand.cur"

APP_ACCELERATORS ACCELERATORS 
BEGIN
    0x4F, CONTROL_MENU_OPEN, VIRTKEY, CONTROL
    0x53, CONTROL_MENU_SAVE, VIRTKEY, CONTROL
    0x51, CONTROL_MENU_EXIT, VIRTKEY, CONTROL
    VK_OEM_PLUS,  CONTROL_MENU_INCREASE_INTERPOLATION, VIRTKEY
    VK_ADD,       CONTROL_MENU_INCREASE_INTERPOLATION, VIRTKEY
    VK_OEM_MINUS, CONTROL_MENU_DECREASE_INTERPOLATION, VIRTKEY
    VK_SUBTRACT,  CONTROL_MENU_DECREASE_INTERPOLATION, VIRTKEY
END

#define RT_MANIFEST 24
1 RT_MANIFEST manifest.manifest

#define VER_FILEVERSION             1,5,0,0
#define VER_FILEVERSION_STR         "1.5.0.0\0"
#define VER_PRODUCTVERSION          1,5,0,0
#define VER_PRODUCTVERSION_STR      "1.5\0"
#define VER_FILEDESCRIPTION_STR     "Tool for plot scalar and vector fields"
#define VER_INTERNALNAME_STR        "fem_draw_winapi"
#define VER_LEGALCOPYRIGHT_STR      "Copyright (c) 2014-2015, Peter Zhigalov"
#define VER_ORIGINALFILENAME_STR    "fem_draw_winapi.exe"
#define VER_PRODUCTNAME_STR         "FEM Draw (WinAPI)"
#define VER_COMPANYNAME_STR         "Peter Zhigalov"

VS_VERSION_INFO VERSIONINFO
FILEVERSION     VER_FILEVERSION
PRODUCTVERSION  VER_PRODUCTVERSION
FILETYPE        VFT_APP
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"
        BEGIN
            VALUE "CompanyName",        VER_COMPANYNAME_STR
            VALUE "FileDescription",    VER_FILEDESCRIPTION_STR
            VALUE "FileVersion",        VER_FILEVERSION_STR
            VALUE "InternalName",       VER_INTERNALNAME_STR
            VALUE "LegalCopyright",     VER_LEGALCOPYRIGHT_STR
            VALUE "OriginalFilename",   VER_ORIGINALFILENAME_STR
            VALUE "ProductName",        VER_PRODUCTNAME_STR
            VALUE "ProductVersion",     VER_PRODUCTVERSION_STR
        END
    END

    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1252
    END
END
