#include "resources.h"

IDI_ICON1 ICON DISCARDABLE "../resources/icon.ico"
IDI_LOGO64 BITMAP DISCARDABLE "../resources/icon_64.bmp"

APP_ACCELERATORS ACCELERATORS 
BEGIN
    0x4F, CONTROL_MENU_OPEN, VIRTKEY, CONTROL
    0x53, CONTROL_MENU_SAVE, VIRTKEY, CONTROL
    0x51, CONTROL_MENU_EXIT, VIRTKEY, CONTROL
    VK_OEM_PLUS,  CONTROL_MENU_INCREASE_INTERPOLATION, VIRTKEY
    VK_ADD,       CONTROL_MENU_INCREASE_INTERPOLATION, VIRTKEY
    VK_OEM_MINUS, CONTROL_MENU_DECREASE_INTERPOLATION, VIRTKEY
    VK_SUBTRACT,  CONTROL_MENU_DECREASE_INTERPOLATION, VIRTKEY
END

#define RT_MANIFEST 24
1 RT_MANIFEST manifest.manifest
